In [299]:
import pandas as pd
import json
import requests
from concurrent.futures import ThreadPoolExecutor

In [300]:
url = "http://35.245.98.49/webservice/rest/server.php"
session = requests.Session()

def creacion_concurrente(params):
    response = session.post(f"{url}", params=params).json()
    return response

In [301]:
list_params = [{'wstoken': '7b2321b83ecfef7fe01aa0cf5958ebc2', 'moodlewsrestformat': 'json', 'wsfunction': 'core_enrol_get_enrolled_users', 'courseid': 2}, {'wstoken': '7b2321b83ecfef7fe01aa0cf5958ebc2', 'moodlewsrestformat': 'json', 'wsfunction': 'core_enrol_get_enrolled_users', 'courseid': 3}, {'wstoken': '7b2321b83ecfef7fe01aa0cf5958ebc2', 'moodlewsrestformat': 'json', 'wsfunction': 'core_enrol_get_enrolled_users', 'courseid': 4}]

with ThreadPoolExecutor() as executor:
    responses = list(executor.map(creacion_concurrente, list_params))

json_data = json.dumps(responses)

In [ ]:
json_data

In [303]:
df = pd.read_json(json_data)

In [304]:
df

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,"{'id': 46, 'username': '052.0402.249', 'firstn...","{'id': 115, 'username': '082.0103.296', 'first...","{'id': 215, 'username': '101.0103.343', 'first...","{'id': 931, 'username': '141.0103.400', 'first...","{'id': 1146, 'username': '151.0103.179', 'firs...","{'id': 1150, 'username': '151.0103.192', 'firs...","{'id': 1233, 'username': '151.0403.046', 'firs...","{'id': 6492, 'username': '101.0103.354', 'firs...",None,None,...,None,None,None,None,None,None,None,None,None,None
1,"{'id': 46, 'username': '052.0402.249', 'firstn...","{'id': 179, 'username': '092.0103.264', 'first...","{'id': 214, 'username': '101.0103.342', 'first...","{'id': 217, 'username': '101.0103.358', 'first...","{'id': 218, 'username': '101.0103.364', 'first...","{'id': 272, 'username': '102.0103.315', 'first...","{'id': 442, 'username': '121.0103.357', 'first...","{'id': 509, 'username': '122.0103.328', 'first...","{'id': 518, 'username': '122.0304.294', 'first...","{'id': 594, 'username': '131.0103.419', 'first...",...,"{'id': 1679, 'username': '161.0103.230', 'firs...","{'id': 1680, 'username': '161.0103.231', 'firs...","{'id': 1681, 'username': '161.0103.233', 'firs...","{'id': 1682, 'username': '161.0103.778', 'firs...","{'id': 1683, 'username': '161.0103.779', 'firs...","{'id': 2322, 'username': '171.0105.001', 'firs...","{'id': 2329, 'username': '171.0105.015', 'firs...","{'id': 2330, 'username': '171.0105.016', 'firs...","{'id': 6485, 'username': '151.0103.187', 'firs...","{'id': 6509, 'username': '132.0103.264', 'firs..."
2,"{'id': 437, 'username': '113.1004.053', 'first...","{'id': 1390, 'username': '151.1004.863', 'firs...","{'id': 1921, 'username': '161.1004.111', 'firs...","{'id': 1929, 'username': '161.1004.127', 'firs...","{'id': 2685, 'username': '171.1006.005', 'firs...","{'id': 2689, 'username': '171.1006.009', 'firs...","{'id': 2694, 'username': '171.1006.017', 'firs...","{'id': 2696, 'username': '171.1006.020', 'firs...","{'id': 2698, 'username': '171.1006.024', 'firs...","{'id': 2699, 'username': '171.1006.025', 'firs...",...,"{'id': 2729, 'username': '171.1006.057', 'firs...","{'id': 6545, 'username': '171.1006.011', 'firs...",None,None,None,None,None,None,None,None

In [326]:
def obtener_id(dataframe):
    obtenidos = []
    for col in dataframe.columns:
        for row in dataframe[col]:
            if row is not None and 'id' in row:
                cursos = [curso['id'] for curso in row['enrolledcourses'] if 'id' in curso] if row['enrolledcourses'] is not None else []
                obtenidos.append([(curso, row['id']) for curso in cursos])

    obtenido = [ids for lista in obtenidos for ids in lista]
    daf = pd.DataFrame(obtenido, columns=['curso', 'id'])
    return daf

daf = obtener_id(df)

In [327]:
daf

     curso    id
0      228    46
1      224    46
2      214    46
3        6    46
4        2    46
..     ...   ...
229   1242  6485
230    230  6485
231      3  6485
232    222  6509
233      3  6509

[234 rows x 2 columns]

0       228
1       224
2       214
3         6
4         2
       ...
229    1242
230     230
231       3
232     222
233       3
Name: curso, Length: 234, dtype: int64

In [294]:
data = {'col1': [{'id': 1, 'cursos': [{'id': 22}, {'nombre': 'nom1'}], 'credit': 3}, {'id': 16, 'cursos': [{'id': 21}, {'nombre': 'nom1'}], 'credit': 18}],
         'col2': [{'id': 4, 'cursos': [{'id': 23}, {'nombre': 'nom1'}, {'id': 27}, {'nombre': 'nom1'}], 'credit': 6}, {'id': 19, 'cursos': [{'id': 27}, {'nombre': 'nom1'}], 'credit': 21}],
         'col3': [{'id': 7, 'cursos': [{'id': 25}, {'nombre': 'nom1'}, {'id': 23}, {'nombre': 'nom1'}], 'credit': 9}, {'id': 22, 'cursos': [{'id': 29}, {'nombre': 'nom1'}], 'credit': 24}]}

df = pd.DataFrame(data)

df

,col1,col2,col3
0,"{'id': 1, 'cursos': [{'id': 22}, {'nombre': 'n...","{'id': 4, 'cursos': [{'id': 23}, {'nombre': 'n...","{'id': 7, 'cursos': [{'id': 25}, {'nombre': 'n..."
1,"{'id': 16, 'cursos': [{'id': 21}, {'nombre': '...","{'id': 19, 'cursos': [{'id': 27}, {'nombre': '...","{'id': 22, 'cursos': [{'id': 29}, {'nombre': '..."

In [298]:
for col in df.columns:
    for row in df[col]:
        cursos = [curso['id'] for curso in row['cursos'] if 'id' in curso]
        print(f'{row["id"]}, {cursos}')

1, [22]
16, [21]
4, [23, 27]
19, [27]
7, [25, 23]
22, [29]