## Igualamos la cantidad de columnas a 25 para cada fila

In [ ]:
import csv

csv.field_size_limit(10000000)
input_file = open('biden_cash_enc.txt', 'r', encoding='utf-8')
# considero que es mejora cambiar la codificación aquí
output_file = open('biden_cash_clean_enc.txt', 'w', encoding='utf-8')

In [ ]:
reader = csv.reader(input_file, delimiter='|')
writer = csv.writer(output_file, delimiter='|')

num_cols = 25  # Número de columnas esperado en cada fila
for row in reader:
    if len(row) < num_cols:
        # Agregar valores faltantes
        row.extend([''] * (num_cols - len(row)))
    elif len(row) > num_cols:
        # Eliminar columnas adicionales
        row = row[:num_cols]
    writer.writerow(row)

input_file.close()
output_file.close()

## Leemos el archivo preprocesado en el dataframe principal (df)

In [2]:
import pandas as pd

df = pd.read_csv('biden_cash_clean.txt', sep='|', header=None, on_bad_lines='skip', dtype={0: str, 17: str, 18: str, 19: str, 20: str, 21: str, 22: str, 23: str})

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,6226230733425407,12/2023,695,None,CHINA MINSHENG BANK,CHINA UNION PAY,CLASSIC,CREDIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6221550408456006,10/2023,399,None,PINGAN BANK,CHINA UNION PAY,CLASSIC,CREDIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4751290214696189,10/2023,769,Ilona Urbanska,NATIONAL WESTMINSTER BANK PLC,VISA,CLASSIC,DEBIT,3 Waldgrave Place,NO,...,None,07305581769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4127525027387386,11/2023,360,Jaco Botha,"FIRSTRAND BANK, LTD.",VISA,GOLD,DEBIT,None,None,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4430450055540321,08/23,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088251,6070936031539213,03/2023,432,NAAZNIZEROX,PUNJAB NATIONAL BANK,RUPAY,CLASSIC,DEBIT,NarodaINDIA,None,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088252,4160852007761085,10/2023,363,Mariah Martinez,"RABOBANK, N.A.",VISA,CLASSIC,DEBIT,1101 concord ave,CA,...,None,8053544851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088253,5170239219091474,03/2023,480,None,BOKIS,MASTERCARD,GOLD,DEBIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088254,5275190073194314,03/2023,974,Gari Motino,"BANK OF AMERICA, NATIONAL ASSOCIATION",MASTERCARD,ENHANCED,DEBIT,None,GA,...,garysoriano7@hotmail.com,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088255,5428208597125733,06/2023,373,Flaio Reboucas,BANCO SANTANDER (BRASIL) S.A.,MASTERCARD,STANDARD,CREDIT,avenida salvador ribeiro siqueira sao cristovao,BR,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Algunos caracteres no se transcodificaron de forma correcta, se procede a buscarlos

In [4]:
with open('biden_cash_clean_enc.txt', 'r', encoding='utf-8') as file:
    content = file.read()
    unique_chars = set(content)
    result = ''.join(unique_chars)

In [5]:
result

'•u™»\x07ËâRFQ"∂¬iwÁîMSìò-Ø\x1et&‘ëﬂd3q—\x0eÕY\uf8ff≠NAÔ„EÌÃ,7⁄Ê0K\\T\x01´€U#Ú¨rÀÏ°ŒWç∏Ñ∆+\x115õü‰ƒ\x03ñp9\xa0n)\x04ZGIä\x0c@O\x06bó%Ö¥≈æ{1÷B_◊œåß\x1fXÇ‡\x02|ÅPãÂö]ék\x1bï(\x154lj≤L§£c\x0b\x18V\x14√a?s2\'µÎgyﬁ}ÿÒ±eº\x196/.v:í\x16ù*ê¶<Ω`≥“πo>…CÆ‹HÍm\x1a∞=É!Üèzx–ûfJ©\x13Ÿà8h›¢^ \n†ô∫ÄÈ\t‚ªá’®”Dø∑ú[$~\x08·'

In [6]:
import re
valores = r'[^\w\s\x01-\x20\x01-\x20\uf8ff\\/\()\,\[\]\.\-\–\']'

result = re.findall(valores, result)
result = ''.join(result)

In [7]:
result

'•™»"∂¬&‘—≠„⁄´€#¨°∏∆+‰@%¥≈{÷◊‡|≤§£√?}±:*¶<`≥“>…‹∞=!©›¢^†∫‚’®”∑$~·'

In [8]:
regex = '[' + re.escape(result) + ']'

#### Tratamos de reemplazar algunos caracteres conocidos por su equivalente

In [15]:
reemplazo = {
    '√©': 'é', '√°': 'á', '√¥': 'ô', '¬†': ' ',
    '††': ' ', '√¢': 'â', '√£': 'ã', '©ú': 'Ü',
    '©ñ': 'Ö', '©≠': 'í', 'Ё®': 'ó', '&eacute': 'é', '&aacute': 'á',
    '&iacute': 'í', 'ú≠': 'í', '&oacute': 'ó', 'ú°': 'á', '&uacute': 'ú'
}

# columnas = [3]
columnas = [3, 9, 10, 11, 12]

for columna in columnas:
    for c, v in reemplazo.items():
        df[columna] = df[columna].str.replace(c, v)
        # print(columna, c, v)
# df[columnas] = df[columnas].replace(reemplazo, inplace=False)

#### Se obtiene el dataframe (matches) con los caracteres que no se transcodificaron de forma correcta y no se pudieron reemplazar

In [16]:
matches = df[df[3].str.contains(regex, na=False)]

In [17]:
matches

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
313,5163830067877201,09/2023,941,Rodrigo Garc√≠a,BANCO SANTANDER S.A.,MASTERCARD,PLATINUM,DEBIT,Calle Orense 28,None,...,Email,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
858,4152313464569537,12/2023,786,Edgar Omar Acu&ntildea,"BBVA BANCOMER, S.A.",VISA,CLASSIC,DEBIT,None,None,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1562,6062823397113520,06/2023,914,ROSEMEIRE MARIA DE SOUZA GARCIA - ME Rav√≠ Salon,"ITAU UNIBANCO, S.A.",HIPERCARD,MAESTRO,DEBIT,Rua Maranh√£o,NO,...,None,1123760038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1742,4815820186346720,03/2023,790,Varak=Artinian,"BANK OF AMERICA, N.A.",VISA,CLASSIC,DEBIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,4603321050472318,06/2023,197,david rancaA¬±o,BANCO BILBAO VIZCAYA ARGENTARIA S.A. (BBVA),VISA,CLASSIC,DEBIT,"Carrer de Joaquim Ruyra, 10,Barcelona",BA,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087896,5579209123697515,06/2023,046,Andres Mu&ntildeoz,"SCOTIABANK INVERLAT, S.A.",MASTERCARD,STANDARD,DEBIT,None,TX,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2087982,4908452706487004,11/2023,366,???e??? G??????,"PIRAEUS BANK, S.A.",VISA,CLASSIC,CREDIT,???a?? ?e???? 11,NO,...,None,6946689607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088022,4222000358886327,11/2023,705,Jo√É¬£o Paulo Gomes,"ITAU UNIBANCO, S.A.",VISA,GOLD,CREDIT,Rua Conde Maur√É¬≠cio de Nassau,NO,...,None,65996808507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088120,6375290337814116,12/2023,941,Ad√É¬£o P S Neto,None,MAESTRO,PERSONAL,DEBIT,12 de Outubro 1661 Cristo Rei,49,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088150,5321805667651494,12/2023,031,Istv√É¬°n M√É¬°rkus,OTP BANK PLC,MASTERCARD,UNEMBOSSED,DEBIT,Kast√É¬©lydomb utca 21 1/1,PL,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Eliminamos los elementos del dataframe matches del dataframe principal

In [18]:
diff = pd.merge(df, matches, how='outer', indicator=True)
diff = diff[diff['_merge'] == 'left_only'].drop('_merge', axis=1)

diff

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,6226230733425407,12/2023,695,None,CHINA MINSHENG BANK,CHINA UNION PAY,CLASSIC,CREDIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6221550408456006,10/2023,399,None,PINGAN BANK,CHINA UNION PAY,CLASSIC,CREDIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4751290214696189,10/2023,769,Ilona Urbanska,NATIONAL WESTMINSTER BANK PLC,VISA,CLASSIC,DEBIT,3 Waldgrave Place,NO,...,None,07305581769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4127525027387386,11/2023,360,Jaco Botha,"FIRSTRAND BANK, LTD.",VISA,GOLD,DEBIT,None,None,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4430450055540321,08/23,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088251,6070936031539213,03/2023,432,NAAZNIZEROX,PUNJAB NATIONAL BANK,RUPAY,CLASSIC,DEBIT,NarodaINDIA,None,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088252,4160852007761085,10/2023,363,Mariah Martinez,"RABOBANK, N.A.",VISA,CLASSIC,DEBIT,1101 concord ave,CA,...,None,8053544851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088253,5170239219091474,03/2023,480,None,BOKIS,MASTERCARD,GOLD,DEBIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088254,5275190073194314,03/2023,974,Gari Motino,"BANK OF AMERICA, NATIONAL ASSOCIATION",MASTERCARD,ENHANCED,DEBIT,None,GA,...,garysoriano7@hotmail.com,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088255,5428208597125733,06/2023,373,Flaio Reboucas,BANCO SANTANDER (BRASIL) S.A.,MASTERCARD,STANDARD,CREDIT,avenida salvador ribeiro siqueira sao cristovao,BR,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Renombramos las columnas con el posible nombre del dato que contiene

In [19]:
diff.rename(columns={
    0: 'numero_tarjeta',
    1: 'vencimiento',
    2: 'ccv',
    3: 'nombre_titular',
    4: 'nombre_banco',
    5: 'tarjeta',
    6: 'nivel_tarjeta',
    7: 'tipo_tarjeta',
    8: 'direction_titular',
    9: 'abreviatura_cp',
    10: 'ciudad_titular',
    11: 'code_postal',
    12: 'pais_titular',
    15: 'correo_titular',
    16: 'numero_titular'
}, inplace=True)

In [20]:
diff

,numero_tarjeta,vencimiento,ccv,nombre_titular,nombre_banco,tarjeta,nivel_tarjeta,tipo_tarjeta,direction_titular,abreviatura_cp,...,correo_titular,numero_titular,17,18,19,20,21,22,23,24
0,6226230733425407,12/2023,695,None,CHINA MINSHENG BANK,CHINA UNION PAY,CLASSIC,CREDIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6221550408456006,10/2023,399,None,PINGAN BANK,CHINA UNION PAY,CLASSIC,CREDIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4751290214696189,10/2023,769,Ilona Urbanska,NATIONAL WESTMINSTER BANK PLC,VISA,CLASSIC,DEBIT,3 Waldgrave Place,NO,...,None,07305581769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4127525027387386,11/2023,360,Jaco Botha,"FIRSTRAND BANK, LTD.",VISA,GOLD,DEBIT,None,None,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4430450055540321,08/23,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088251,6070936031539213,03/2023,432,NAAZNIZEROX,PUNJAB NATIONAL BANK,RUPAY,CLASSIC,DEBIT,NarodaINDIA,None,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088252,4160852007761085,10/2023,363,Mariah Martinez,"RABOBANK, N.A.",VISA,CLASSIC,DEBIT,1101 concord ave,CA,...,None,8053544851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088253,5170239219091474,03/2023,480,None,BOKIS,MASTERCARD,GOLD,DEBIT,None,NO,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088254,5275190073194314,03/2023,974,Gari Motino,"BANK OF AMERICA, NATIONAL ASSOCIATION",MASTERCARD,ENHANCED,DEBIT,None,GA,...,garysoriano7@hotmail.com,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088255,5428208597125733,06/2023,373,Flaio Reboucas,BANCO SANTANDER (BRASIL) S.A.,MASTERCARD,STANDARD,CREDIT,avenida salvador ribeiro siqueira sao cristovao,BR,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Para tener un mejor conocimiento de los datos, les agregue una descripcion:

* numero_tarjeta: Número de identificación único asignado a la tarjeta de crédito o débito.
* vencimiento: Fecha de expiración de la tarjeta de crédito o débito.
* ccv: Código de seguridad de tres o cuatro dígitos ubicado en la parte trasera de la tarjeta de crédito o débito.
* nombre_titular: Nombre completo del titular de la tarjeta de crédito o débito.
* nombre_banco: Nombre del banco emisor de la tarjeta de crédito o débito.
* tarjeta: Tipo de tarjeta de crédito o débito (por ejemplo, Visa, Mastercard, American Express, etc.).
* nivel_tarjeta: Nivel de la tarjeta de crédito o débito (por ejemplo, clásica, oro, platino, etc.).
* tipo_tarjeta: Tipo de tarjeta de crédito o débito (por ejemplo, personal, empresarial, estudiantil, etc.).
* direction_titular: Dirección del titular de la tarjeta de crédito o débito.
* abreviatura_cp: Abreviatura del código postal del titular de la tarjeta de crédito o débito.
* ciudad_titular: Ciudad de residencia del titular de la tarjeta de crédito o débito.
* code_postal: Código postal del titular de la tarjeta de crédito o débito.
* pais_titular: País de residencia del titular de la tarjeta de crédito o débito.
* correo_titular: Correo electrónico del titular de la tarjeta de crédito o débito.
* numero_titular: Número de teléfono del titular de la tarjeta de crédito o débito.